<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  <p>Olá, </p>
		  <p>gostaríamos de agradecer o seu apoio e o interesse em nosso eBook "Guia Definitivo para um App de Sucesso"!</p>
		  <p>Nos acompanhe, sempre sairá novidades :) </p>
		  <p>Um grande abraço.</p>
		  <p>Equipe AppPromoters </p>
		  <p> LINK DO BLOG <p>
  </body>
</html>